.headerContainer:before {
    background: #ffcb05;
    content: "";
    display: block;
    height: 5px;
}
.headerContainer{
    background-color: #fff;
    box-sizing: border-box;
    color: #373373;
    font-family: Larsseit,Arial,sans-serif;
    position: relative;
    width: 100%;
    z-index: 1021;    
    box-shadow: 0 2px 5px rgb(0 0 0 / 5%);
    padding: 0;
    position: relative;
}
.headerWrapper{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1;
    color: #333;
    background-color: #fff;    
}
@media (min-width: 650px){
    .headerWrapper {
        padding-bottom: 20px;
    }
}
@media (min-width: 760px){ 
    .headerWrapper {
        padding: 16px;
    }
}

@media (min-width: 1330px){ 
    .headerWrapper{
        margin-left: auto;
        margin-right: auto;
        max-width: 1250px;
        padding-left: 0;
        padding-right: 0;
    }
}

.logoWrapper{
    order: 1;
}

.logo {
    display: inline-block;
    margin: 0;
    vertical-align: bottom;
}
.logoLink {
    display: block;
    overflow: hidden;
    text-decoration: none;
}

.icon {
    display: inline-block;
    overflow: hidden;
    pointer-events: none;
    vertical-align: middle;
}
.logoLinkIcon {
    display: none;
    height: 33px;
    width: 66px;
}
@media (min-width: 375px){
    .logoLinkIcon{
        display: block;
    }
}





.searchBarWrapper{
    flex-basis: 100%;
    margin-top: 16px;
    order: 3;
    width: 100%;
}
@media (min-width: 1120px){ 
    .searchBarWrapper {
        flex: 1;
        flex-basis: 0%;
        margin: 0 5px 0 24px;
        order: 2;
    }
}
@media (min-width: 1250px){
    .searchBarWrapper {
        margin: 0 24px;
    }
}


.headerTool {
    flex: 1 1;
    float: none;
    min-width: 0;
    order: 2;
}
@media (min-width: 1120px){
    .headerTool {
        flex: 1;
        max-width: 330px;
        min-width: auto;
        order: 3;
    }
}

.searchBar{
    background-color: #fff;
    border-bottom: 0;
    box-sizing: border-box;
    position: relative;
}
.searchBar_on{
    box-shadow: none;
    left: 0;
    width: 100%;
}
@media (min-width: 650px){
    .searchBar {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
}
@media (min-width: 760px){
    .searchBar, .searchBar_homepage {
        padding-bottom: 0;
    }
}
@media (min-width: 1120px){
    .searchBar {
        max-width: 820px;
    }
}




.wrapper{
    flex: 1;
    position: relative;
}
@media (min-width: 650px){
    .wrapper {
        flex: 1;
        flex-basis: 49%;
    }
}

@media (min-width: 1120px){ 
    .wrapper {
        flex-basis: 0;
    }
}

.wrapper_en {
    position: relative;
}

.formFieldKeyword {
    position: relative;
    vertical-align: top;
    border-radius: 4px;
    padding-right: 0;
}
.formFieldKeyword, .inputKeyword {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0;
}
@media (min-width: 650px){
    .formFieldKeyword {
        flex: 1 1;
        width: inherit;
    }
}
@media (min-width: 1120px){
    .formFieldKeyword {
        flex: 1 1 1px;
        margin-top: 0;
    }
}
.field {
    position: relative;
}

.expandingInputContainer, .inputContainer {
    position: relative;
}
/*       mmmmm   */
.input {
    outline-width: 0;
    outline: none;
    border-radius: 4px;
    border: 1px solid #d2d3d7;
    box-sizing: border-box;
    color: #3e4153;
    display: block;
    font-family: Larsseit,Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    white-space: pre-wrap;
    width: 100%;
    word-wrap: break-word;
    height: 45px;
    line-height: 20px;
    padding: 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.inputWithIcon {
    padding-left: 50px;
}
.formFieldKeyword, .inputKeyword{
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0;
}
.inputKeyword {
    outline-width: 0;
    outline: none;
    background-color: #fff;
    border: 1px solid #d2d3d7;
    border-radius: 4px;
    color: #3e4153;
    font-family: inherit;
    font-size: 16px;
    height: 48px;
    padding-left: 46px;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
@media (min-width: 650px){
    .inputKeyword {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
        height: 48px;
    }
}

@media (min-width: 650px){
    .inputKeyword_on {
        box-shadow: none;
    }
}





/* //////////////////////////// */
.categoryContainer{
    box-sizing: border-box;
    display: none;
    position: relative;
    vertical-align: top;
    width: 100%;
    margin: 16px 0 0;
}
.categoryContainer_on{
    display: block;
}
@media (min-width: 600px) {
    .categoryContainer{
        display: block;
        flex: 0;
        flex-basis: 200px;
        margin-top: 0;
        width: 200px;
    }
}
.locationModalTrigger {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #373373;
    cursor: pointer;
    display: flex;
    font-family: Larsseit,Arial,sans-serif;
    height: 48px;
    justify-content: center;
    margin-top: 8px;
    max-width: 90vw;
    overflow: hidden;
    padding: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
@media (min-width: 650px){
    .locationModalTrigger{
        border: none;
        flex-basis: 260px;
        height: 48px;
        justify-content: flex-start;
        margin-top: 8px;
        order: 1;
        position: relative;
        width: 0;
    }
}
@media (min-width: 1120px){
    .locationModalTrigger{
        border-radius: 0;
        border-left: 0;
        flex-basis: 160px;
        margin-left: 16px;
        margin-top: 0;
    }
}
@media (min-width: 1250px){
    .locationModalTrigger {
        flex-basis: fit-content;
        max-width: 180px;
    }
}
.iconWrapper{
    display: block;
    height: 24px;
    min-height: 24px;
    width: 24px;
    
}
.textSearch{
    overflow: hidden;
    line-height: 24px;
    text-overflow: ellipsis;
}
.searchSubmit{
    border-radius: 4px;
    border: 1px solid hsla(0,0%,100%,0);
    cursor: pointer;
    flex: auto;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    transition: background-color .2s linear;
    width: 48px;
    order: 4;
    font-family: Larsseit,Arial,sans-serif; 
    display: none;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}
.searchSubmit_on {
    display: block;
    margin: 16px auto 0;
    position: static;
    width: 100%;
}
@media (min-width: 650px){
    .searchSubmit {
        display: block;
        flex-basis: 120px;
        height: 48px;
        line-height: 40px;
        margin: 0;
        max-width: 120px;
        padding: 0;
        position: relative;
    }
}
